body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

.welcome {
    display: flex;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}

#Welcome {
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
}

.info {
    display: flex;
}

#InfoHead {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote {
    display: flex;
}

.login {
    display: flex;
    background-color: #3882f6;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
}