body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
}

.welcome {
    display: flex;
    background-color: #1f2937;
}


.info {
    display: flex;
}

.quote {
    display: flex;
}

.login {
    display: flex;
}

.footer {
    display: flex;
    background-color: #1f2937;
}